[run]
branch = True
include =
    hotness/*
    hotness_schema/hotness_schema/*

[report]
fail_under = 90
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    hotness/tests/*
    hotness_schema/hotness_schema/tests/*
