*.pyc
*.egg-info
*.egg*
development.ini
dist
*.crt
*.key
*.gpg
fedmsg.d/hotness.py
.tox/
.coverage
coverage.xml
htmlcov/
.venv/

# Docs
*_build/

# Vagrant-related files
*.retry
.cache
.vagrant/

# IDEA
.idea/

# Emacs projects
.projectile
