bandit==1.7.4
black==22.6.0
coverage==6.4.2
diff-cover==6.5.1
flake8==4.0.1
mock==4.0.3
pytest==7.1.2
pytest-cov==3.0.0

# Required to test building the docs
sphinx==5.0.2

# Mypy test requirements
mypy==0.961
types-requests==2.28.0
types-redis==4.3.3
