bandit==1.7.4
black==22.1.0
coverage==6.3.2
diff-cover==6.4.4
flake8==4.0.1
mock==4.0.3
pytest==7.1.1
pytest-cov==3.0.0

# Required to test building the docs
sphinx==4.4.0

# Mypy test requirements
mypy==0.940
types-requests==2.27.12
