anitya-schema>=1.1.0, <3.0.0
fedora-messaging>=2.0.1, <4.0.0
fedora_messaging_the_new_hotness_schema>=1.0.1, <2.0.0
koji>=1.21.0, <2.0.0
python-bugzilla>=3.2.0, <4.0.0
redis>=4.3.1, <5.0.0
requests>=2.22.0, <3.0.0
