---

- name: Install helpful development packages
  dnf:
    name: [
      git,
      ngrep,
      nmap-ncat,
      tox,
      tmux,
      vim-enhanced
    ]
    state: present

- name: Install the-new-hotness development packages
  dnf:
    name: [
      # Packages needed for running test in tox
      krb5-devel,
      gcc,
      # Packages needed for the-new-hotness development
      python3-black,
      python3-flake8,
      python3-redis,
      python3-sphinx,
      rabbitmq-server
    ]
    state: present

- name: Install the-new-hotness dependencies packaged in Fedora
  dnf:
    name: [
      # Tools that the-new-hotness is using when working with the packages
      git,
      fedpkg,
      rpmdevtools,
      # Python dependencies
      fedora-messaging,
      python3-bugzilla,
      python3-koji,
      python3-requests,
    ]
    state: present

# Add various helpful configuration files
- name: Install a custom bashrc
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy: src=bashrc dest=/home/{{ ansible_env.SUDO_USER }}/.bashrc

- name: Install the message of the day
  copy: src=motd dest=/etc/motd

- name: Install the-new-hotness package into /usr/lib
  pip:
    name: [
      "file:///home/{{ ansible_env.SUDO_USER }}/devel/",
    ]
    extra_args: '-e'
    executable: pip-3

- name: Install fedora-messaging config to ~/
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy:
    src: config.toml
    dest: /home/{{ ansible_env.SUDO_USER }}/

- name: Enable RabbitMQ server
  systemd:
    name: rabbitmq-server
    state: started
    enabled: yes

- name: Create systemd user unit directory
  become_user: "{{ ansible_env.SUDO_USER }}"
  file:
    path: /home/{{ ansible_env.SUDO_USER }}/.config/systemd/user/
    state: directory

- name: Install the systemd user units
  become_user: "{{ ansible_env.SUDO_USER }}"
  copy:
    src: "{{ item }}"
    dest: /home/{{ ansible_env.SUDO_USER }}/.config/systemd/user/{{ item }}
  with_items:
    - hotness.service

- name: Reload the systemd daemon
  become_user: "{{ ansible_env.SUDO_USER }}"
  command: systemctl --user daemon-reload

- import_tasks: redis.yml
