[Unit]
Description=The fedmsg relay service
After=network.target

[Service]
ExecStart=/usr/bin/fedmsg-relay
Type=simple

[Install]
WantedBy=multi-user.target
